.login-wrapp{
    width: 544px;
    position: fixed;
    top: 15%;
    left: 30%;
    background: #F6F7FF;
    border: 4px solid #2C36F2;
}

.login-logo{
    display: flex;
    margin: 60px 60px 0 60px;
    position: relative;
    align-items: flex-start;
}

.login-logo__img{
    width: 30px;
    height: 27px;
    padding-top: 4px;
}
.login-text{
    margin-left: 8px;
}
.login-logo__closed{
    position: absolute;
    right: 0;
    top: 5px;
    width: 16px;
    height: 16px;
}

.login-text__header,
.login-text__text{
    margin: 0;
    color: #1F1E25;
}

.login-text__header{
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    height: 14px;
    margin-bottom: 5px;
}

.login-text__text{
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
}


/* FORM */
.login-form{
    margin: 45px 60px 60px 60px;
    display: flex;
    flex-direction: column;
}

.container-login,
.container-password{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.container-login{
    margin-bottom: 30px;
}

.container-password{
    margin-bottom: 49px;
}

.container-password__eye{
    position: absolute;
    width: 22px;
    height: 12px;
    top: 58px;
    right: 24px;
}

.container-login__text,
.container-password__text{
    color: #394959;
    font-size: 16px;
    line-height:22px;
    font-family: "Roboto";
    margin-bottom: 10px;
}

.container-login__input,
.container-password__input{
    height: 60px;
    border: 1px solid #1F1E25;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
}
.container-password__forgot{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 17px;
    color: #707C87;
    margin-top: 10px;
    position: absolute;
    bottom: -20px;
    right: 0;
}

.login-form__submit{
    color: #F6F7FF;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: Roboto;
    background: #2C36F2;
    border-radius: 4px;
    outline: none;
    border: none;
    height: 60px;
}