.call-container{
    display: flex;
    flex-direction: row;
    height: 55px;
    margin-top: 70px;
    margin-left: 70px;
}
.call-link{
    display: flex;
    flex-direction: row;  
}

.call-link__phone{
    width: 10px;
    height: 16px;
}
.call-link__number{
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1F1E25;
    padding-left: 18px;
}

.call-mobile__text{
    width: 167px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #707C87;
    margin: 0;
    padding-left: 28px;
    padding-top: 10px;

}
.call-local{
    margin-left: 60px;
}
.call-link__local{
    width: 16px;
    height: 16px;
}
.call-local__text{
    width: 122px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #707C87;
    margin: 0;
    padding-top: 10px;
    padding-left: 34px;
}