
 .container-logo{
    display: flex;
    align-items: center;
    
}

 .container-logo__img{
    margin-top: -9px;
    padding-right: 9px;
}

.container-logo__text{
    font-family: "Work Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #1F1E25;
}  