.calc-wrap{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 110px;
}
.calc-wrap__header{  
    color: #1F1E25;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 57px;
    margin: 0;
}
.calc-wrap__step1{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    color: #1F1E25;
    margin: 0;
    margin-top: 70px;
}
.css-b62m3t-container{
    border: none;
}
.css-1s2u09g-control{
    border-style: none;
}

 .select{
    position: relative;
    margin-bottom: 60px;
    z-index: 1;
    width: 600px;
    height: 60px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1F1E25;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 30px;
}

.select-one__img{
    position: absolute;
   bottom: 26px;
   left: 560px;
} 


/* Form */
.container-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form{
    margin: 0;
}
.step-two{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    color: #1F1E25;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
}
.count-property{
    font-family:"Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #394959;
    margin: 0;
    margin-bottom: 15px;
}

.container-property{
    width: 600px;
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;

}
.container-property__rubl{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1F1E25;
    position: absolute;
    top: 14px;
    right: 200px;
    margin: 0;
}
.container-property__minus{
    position: absolute;
    top: 30px;
    left: 24px
}
.container-property__plus{
    position: absolute;
    top: 22px;
    right: 22px;
}

.container-property__input{
    width: 200px;
    height: 53px;
    margin: 0;
    position: absolute;
    left: 35%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1F1E25;
    border: none;
    
}
.property-min-max{
    margin: 0;
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #707C87;
}
.container-payment{
    position:relative
}
.container-payment__header{
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #394959;
    margin-top: 30px;
}
.payment-wrap{
    margin: 0;
    margin-top: 15px;
    width: 600px;
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
}
.payment-wrap__input{
    position: absolute;
    left: 35%;
    font-family: "Roboto";
    font-style: normal;
    border: none;
    width: 200px;
    height: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1F1E25;
}
.payment-wrap__rubl{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1F1E25;
    position: absolute;
    top: 14px;
    right: 200px;
    margin: 0;
}
.container-range{
    margin-top: 10px;
    width: 600px;
}
.container-payment__rangeLabel{
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto";
    font-style: normal;
    color: #707C87;
    
}

.slider{
    -webkit-appearance: none;
    width: 600px;
    height: 0;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0.5px solid #C1C2CA; 
    background-color: #C1C2CA;
    margin-bottom: 15px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2C36F2;
    
}

.term-wrap{
    margin: 0;
    position: relative;
}

.term-wrap__header{
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #394959;
    margin-top: 30px;
}

.term-container{
    margin: 0;
    margin-top: 15px;
    width: 600px;
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
}
.term-container__input{
    position: absolute;
    left: 35%;
    font-family: "Roboto";
    font-style: normal;
    border: none;
    width: 200px;
    height: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1F1E25;
}

.term-container__years{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1F1E25;
    position: absolute;
    top: 14px;
    right: 200px;
    margin: 0;
}
.container-range-years{
    width: 600px;
    margin-top: 70px;
}
.time-container{
    font-size: 14px;
    line-height: 20px;
    font-family: "Roboto";
    font-style: normal;
    color: #707C87;
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
}
.time-container__min,
.time-container__max{
    margin: 0;
}




/* Propose */
.propose{
    width:500px ;
    height: 389px;
    background: #F6F7FF;
    border-radius: 4px; 
    margin-top: -181px;
}

.propose__button{
    width: 382px;
    height: 51px;
    margin: 0;
    padding:20px 123px ;
    background: #2C36F2;
    border-radius: 4px;
    color: #F6F7FF;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    margin-left: 58px;

}

/* Application */
.application{
    width: 770px;
    height: 722px;
    background: #F6F7FF;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 72px;
    position: relative;
    z-index: 4;

}
.application__header{
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    color: #1F1E25;
}

/* maternal capital */

.maternal-wrap{
    margin-top: 89px;
    display: flex;
    flex-direction: row;

}
.maternal-wrap__chekbox{
    background: #2C36F2;
    border-radius: 2px;
    width: 16px;
    height: 16px;
}
.maternal-wrap__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1F1E25;
    margin: 0;
    margin-left: 15px;
}